.registration-container{
    .right-side{
        margin-top: 2rem ;
    }
    label{
        display: flex;
        justify-content: flex-start;
        width: 43.5%;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 14px;
    }
    @media screen and (max-width:1500px) and (min-width: 900px) {
        label{
            margin-left: -13rem;
        }
        h4{
            margin-left: -14rem;
            margin-top: -1rem;
        }
        img{
            width: 300px;
            
        }
        button{
            margin: -1rem 0 0 0 !important;
        }
        .left-side{
            height: 860px ;
        }
    }
    input[placeholder="Enter username"]{
        background-image: none !important;
    }
    h4{
        text-align: start;
        width: 43.5%;
        margin-bottom: 2rem;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.5px;
        
    }
}
.otp-container{
    .privacy{
        margin-top: 0;
        margin-left: -2rem;
        max-width: 500px;
        
        letter-spacing: 1px !important;
        color: #6A6A6A !important;
        font-weight: normal !important;

    

    }
    p:last-child{
        margin-top: 40vh;
    }
    button{
        width: 550px !important;
        
    } 
    input{
        font-size: 18px ;
        font-weight: bold !important;
    }
}
